.root{
    .imageBg{
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, .6);
        }
        .video{
            margin: 0 auto;
            z-index: 4;
            position: relative;
            margin-bottom: 2rem;
        }
    }
    .loading{
        text-align: center;
        width: 100%;
        color: #efefef;
        z-index: 4;
        position: relative;
    }
}