.genre-28{
    background-color: #172A3A;
    color: #efefef;
}

.genre-12{
    background-color: #F87666;
    color: #efefef;
}

.genre-16{
    background-color: #F3DE8A;
    color: #212529;
}

.genre-35{
    background-color: #fff25e;
    color: #212529;
}

.genre-80{
    background-color: #22272c;
    color: #efefef;
}

.genre-99{
    background-color: #d6ccd5;
    color: #212529;
}

.genre-18{
    background-color: #350b1f;
    color: #efefef;
}

.genre-10751{
    background-color: #fcb500;
    color: #212529;
}

.genre-14{
    background-color: #bdef53;
    color: #212529;
}

.genre-36{
    background: #ccc;
    color: #212529;
}

.genre-27{
    background-color: #b71a3b;
    color: #efefef;
}

.genre-10402{
    background-color: #f4d75e;
    color: #212529;
}

.genre-9648{
    background-color: #7c7b89;
    color: #efefef;
}

.genre-10749{
    background-color: #fe948d;
    color: #efefef;
}

.genre-878{
    background-color: #d7da5e;
    color: #212529;
}

.genre-10770{
    background-color: #dcdcdd;
    color: #212529;
}

.genre-53{
    background-color: #012e67;
    color: #efefef;
}

.genre-10752{
    background-color: #032e42;
    color: #efefef;
}

.genre-37{
    background-color: #db5c01;
    color: #efefef;
}